html,
body {
  padding: 20px;
  font-family: sans-serif;
}

.feed {
  width: 500px;
  height: 473px;
  background-image: url("../image/feed_template.png");
  position: relative;

  .like-btn {
    width: 44px;
    height: 25px;
    background: #d0d0d0;
    position: absolute;
    bottom: 13px;
    left: 13px;
    cursor: pointer;

    &:hover {
      background: #718c00;

      .reaction-box {
        display: block;

        .reaction-icon:hover {
          transform: scale(1.4);
          transform-origin: bottom;

          label {
            visibility: visible;
          }
        }
      }
    }

    .reaction-box {
      position: absolute;
      width: 312px;
      height: 55px;
      background: #f0c674;
      border-radius: 28px;
      left: -25px;
      bottom: 25px;
      display: none;

      .reaction-icon {
        width: 40px;
        height: 40px;
        display: inline-block;
        background: #8959a8;
        border-radius: 20px;
        margin: 8px -1px 0 8px;
        text-align: center;

        label {
          padding: 3px 5px 3px 5px;
          position: relative;
          top: -24px;
          border-radius: 10px;
          font-size: 11px;
          color: #fff;
          background: #333;
          visibility: hidden; // make label disapear
        }
      }
    }
  }
}
