* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chair {
  height: 60%;
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-70%, -70%);
}

.s1 {
  background-image: url("./img/couch.jpg");
  background-size: cover;
}

.section h1 {
  font-size: 64px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -70%);
  /* Create a gradient for text by using background and webkit */
  background: linear-gradient(to left, #87c7df, #649896);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.s2 {
  background: linear-gradient(to left top, #cbcbcb, white);
}

.s2 h1 {
  font-size: 48px;
  background: linear-gradient(to left, #3d3d3d, #4c4d4c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  margin: 20%;
  width: 50%;
  margin-left: 5%;
  font-size: 20px;
}

.description p {
  margin: 50px 0px;
}
