*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PopLight;
  src: url(./fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: PopRegular;
  src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: PopMedium;
  src: url(./fonts/Poppins-Medium.ttf);
}

body {
  font-family: PopLight;
}

.portofolio {
  color: white;
  background: radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1));
}

nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.logo {
  font-size: 20px;
}

.page {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

.hero {
  overflow: hidden;
  height: 500px;
  align-self: center;
  justify-self: center;
  display: flex;
}

.hero img {
  height: 500px;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}

.model-right {
  transform: translate(0%, 10%);
}

.model-left {
  transform: translate(0%, -10%);
}

.hero:hover .model-right {
  transform: translate(0%, 0%);
  /* Remember the first one is X and second one is Y */
}

.hero:hover .model-left {
  transform: translate(0%, 0%);
  /* Remember the first one is X and second one is Y */
}

.details {
  grid-column: 2/3;
  align-self: end;
}

.details h1 {
  font-size: 64px;
  font-family: PopRegular;
}

.details h2 {
  font-size: 42px;
  padding: 20px 0px;
}

.details p {
  font-size: 42px;
  padding: 20px 0px 50px 0px;
}
