* {
  margin: 0;
  padding: 0;
}

.header {
  background: #6900d1;
}

.navbar {
  padding-top: 20px;
}

.nav-item {
  margin-left: 40px;
  margin-bottom: 10px;
}

.nav-link {
  color: #fff !important;
  font-size: 12px;
  padding: 0 0 5px 0;
  display: unset;
}
