* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sky {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #00ccff;
  overflow-x: hidden;
}

.clouds {
  position: absolute;
  content: "";
  top: 50px;
  right: 0;
  left: -2000px;
  width: 500%;
  height: 100px;
  background-image: url("./images/clouds.png");
  background-repeat: repeat-x;
  animation: clouds 50s linear infinite;
}
@keyframes clouds {
  100% {
    transform: translateX(2000px);
  }
}

.mountains {
  position: absolute;
  bottom: 0;
  height: 250px;
  right: 0;
  left: -2000px;
  width: 500%;
  background-image: url("./images/mountain.png");
  background-repeat: repeat-x;
  animation: mountains 10s linear infinite;
}

@keyframes mountains {
  100% {
    transform: translateX(2000px);
  }
}

.airplane {
  position: absolute;
  top: 180px;
  transform: translateX(500px);
  z-index: 1;
  border: 1px solid red;
}

.flame {
  position: relative;
  top: -40px;
  left: 150px;
  height: 10px;
  width: 60px;
  border-radius: 50%;
  background-color: pink;
  z-index: -1;
  animation: flame 0.3s linear infinite;
}

.flame2 {
  top: -195px;
  left: 115px;
  background-color: yellow;
}

@keyframes flame {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}
