* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #29292e;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.simple-spinner {
  width: 60px;
  height: 60px;
  border: 5px solid rgba(150, 150, 150, 0.2);
  border-radius: 50%;
  border-top-color: rgb(150, 150, 150);
  animation: rotate 1s 0s infinite ease-in-out alternate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.double-spinner {
  width: 60px;
  height: 60px;
  border: 5px solid rgba(150, 150, 150, 0.2);
  border-radius: 50%;
  border-top-color: rgb(150, 150, 150);
  animation: rotate 1s 0s infinite ease-in-out alternate;
}

.double-spinner::after {
  content: "";
  height: 40%;
  width: 40%;
  display: block;
  margin: 10px auto;
  border: inherit;
  border-radius: inherit;
  border-top-color: inherit;
  animation: rotate 0.5s 0s infinite linear reverse;
}

.flip-walker {
  width: 64px;
  height: 64px;
}

.flip-walker::before {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  background-color: rgba(150, 150, 150, 0.5);
  animation: flip 2s 0s infinite ease normal, glow 2s 0s infinite linear normal;
}

@keyframes flip {
  0% {
    transform: translate(0, 0) rotateX(0) rotateY(0);
  }

  25% {
    transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }

  50% {
    transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }

  75% {
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }

  100% {
    transform: translate(0, 0) rotateX(0) rotateY(360deg);
  }
}

@keyframes glow {
  to {
    background: white;
    box-shadow: 0 0 15px white;
  }
}

.pulse {
  width: 64px;
  height: 64px;
  background: white;
  border-radius: 50%;
  animation: pulse 1s 0s infinite cubic-bezier(0, 1.01, 0.5, 1.2) normal;
}

@keyframes pulse {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    transform: scale(1);
    opacity: 0;
  }
}
